{% extends 'header&footer.html' %}
{% block title %}SCIeL - Monitorear Invernaderos{% endblock title %}

{% block content %}
    
  {% block sidebar %}
  {% if user.is_authenticated %}
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'invernaderos:dispositivos' %}">
          <i class="fas fa-fw fa-cubes"></i>
          <span>Dispositivos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'invernaderos:sensores' %}">
          <i class="fas fa-fw fa-thermometer-quarter"></i>
          <span>Sensores</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'invernaderos:actuadores' %}">
          <i class="fas fa-fw fa-wrench"></i>
            <span>Actuadores</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'invernaderos:invernaderos' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Invernaderos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'invernaderos:cultivos' %}">
          <i class="fas fa-fw fa-leaf"></i>
          <span>Cultivos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'invernaderos:parametros' %}">
          <i class="fas fa-fw fa-cogs"></i>
          <span>Parámetros Estándar</span>
        </a>
      </li>
    </ul>
  {% endif %}
  {% endblock sidebar %}
  <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Servicios</a>
          </li>
          <li class="breadcrumb-item active">Mediciones</li>
        </ol>
        <!-- Icon Cards-->
        <div class="row bold">
          <div class="col-xl-4 col-sm-6 mb-4" onclick="redirect('{% url 'invernaderos:dispositivos' %}')">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-cubes"></i>
                </div>
                <div class="mr-5">{{cant_dispositivos}} Dispositivos</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Ver Detalles</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-4" onclick="redirect('{% url 'invernaderos:invernaderos' %}')">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                </div>
                <div class="mr-5">{{cant_invernaderos}} Invernaderos</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Ver Detalles</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-4" onclick="redirect('{% url 'invernaderos:cultivos' %}')">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-leaf"></i>
                </div>
                <div class="mr-5">{{cant_cultivos}} Cultivos</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Ver Detalles</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-4" onclick="redirect('{% url 'invernaderos:sensores' %}')">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-thermometer-quarter"></i>
                </div>
                <div class="mr-5">{{cant_sensores}} Sensores</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Ver Detalles</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-4" onclick="redirect('{% url 'invernaderos:actuadores' %}')">
            <div class="card text-white bg-secondary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-wrench"></i>
                </div>
                <div class="mr-5">{{cant_actuadores}} Actuadores</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Ver Detalles</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-4" onclick="redirect('{% url 'invernaderos:parametros' %}')">
            <div class="card text-white bg-info o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-cogs"></i>
                </div>
                <div class="mr-5">{{cant_parametros}} Parámetros Estándar</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Ver Detalles</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        {% block charts %}
          <!-- Area Chart Example-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Diagrama (Humedad en Aire Vs. Tiempo)
            </div>
            <div class="card-body">
              <canvas id="humedadAireChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Ultima actualización: {{fecha}}</div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Diagrama (Temperatura Vs. Tiempo)
            </div>
            <div class="card-body">
              <canvas id="temperaturaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Ultima actualización: {{fecha}}</div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Diagrama (Humedad en el Suelo Vs. Tiempo)
            </div>
            <div class="card-body">
              <canvas id="humedadSueloChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Ultima actualización: {{fecha}}</div>
          </div>
        {% endblock charts %}
        {% block tables %}
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Humedad del Aire dentro del Invernadero
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead class="text-center">
                    <tr>
                      <th>Identificador</th>
                      <th>Invernadero</th>
                      <th>Parametro</th>
                      <th>Sensor</th>
                      <th>Actuador</th>
                      <th>Magnitud</th>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>¿El actuador está activo?</th>
                    </tr>
                  </thead>
                  <tfoot class="table table-bordered">
                    <tr>
                      <th>Identificador</th>
                      <th>Invernadero</th>
                      <th>Parametro</th>
                      <th>Sensor</th>
                      <th>Actuador</th>
                      <th>Magnitud</th>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>¿El actuador está activo?</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    
                      {% for humedad_relativa in humedades_relativas %}
                      <tr>
                        <td class="text-center">{{ humedad_relativa.id_medicion }}</td>
                        <td>{{ humedad_relativa.id_invernadero }}</td>
                        <td>{{ humedad_relativa.id_parametro }}</td>
                        <td>{{ humedad_relativa.id_sensor }}</td>
                        <td>{{ humedad_relativa.id_actuador }}</td>
                        <td class="text-center">{{ humedad_relativa.magnitud_medicion }}</td>
                        <td class="text-center">{{ humedad_relativa.fecha_medicion|date:"d/m/y" }}</td>
                        <td class="text-center">{{ humedad_relativa.fecha_medicion|date:"h:i:s A" }}</td>
                        <td class="text-center">{{ humedad_relativa.is_activo }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Ultima actualización: {{fecha}}</div>
          </div>
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Temperatura dentro del Invernadero
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead class="text-center">
                    <tr>
                      <th>Identificador</th>
                      <th>Invernadero</th>
                      <th>Parametro</th>
                      <th>Sensor</th>
                      <th>Actuador</th>
                      <th>Magnitud</th>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>¿El actuador está activo?</th>
                    </tr>
                  </thead>
                  <tfoot class="table table-bordered">
                    <tr>
                      <th>Identificador</th>
                      <th>Invernadero</th>
                      <th>Parametro</th>
                      <th>Sensor</th>
                      <th>Actuador</th>
                      <th>Magnitud</th>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>¿El actuador está activo?</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    
                      {% for temperatura in temperaturas %}
                      <tr>
                        <td class="text-center">{{ temperatura.id_medicion }}</td>
                        <td>{{ temperatura.id_invernadero }}</td>
                        <td>{{ temperatura.id_parametro }}</td>
                        <td>{{ temperatura.id_sensor }}</td>
                        <td>{{ temperatura.id_actuador }}</td>
                        <td class="text-center">{{ temperatura.magnitud_medicion }}</td>
                        <td class="text-center">{{ temperatura.fecha_medicion|date:"d/m/y" }}</td>
                        <td class="text-center">{{ temperatura.fecha_medicion|date:"h:i:s A" }}</td>
                        <td class="text-center">{{ temperatura.is_activo }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Ultima actualización: {{fecha}}</div>
          </div>
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Humedad del Suelo dentro del Invernadero
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead class="text-center">
                    <tr>
                      <th>Identificador</th>
                      <th>Invernadero</th>
                      <th>Parametro</th>
                      <th>Sensor</th>
                      <th>Actuador</th>
                      <th>Magnitud</th>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>¿El actuador está activo?</th>
                    </tr>
                  </thead>
                  <tfoot class="table table-bordered">
                    <tr>
                      <th>Identificador</th>
                      <th>Invernadero</th>
                      <th>Parametro</th>
                      <th>Sensor</th>
                      <th>Actuador</th>
                      <th>Magnitud</th>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>¿El actuador está activo?</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    
                      {% for humedad_suelo in humedades_suelo %}
                      <tr>
                        <td class="text-center">{{ humedad_suelo.id_medicion }}</td>
                        <td>{{ humedad_suelo.id_invernadero }}</td>
                        <td>{{ humedad_suelo.id_parametro }}</td>
                        <td>{{ humedad_suelo.id_sensor }}</td>
                        <td>{{ humedad_suelo.id_actuador }}</td>
                        <td class="text-center">{{ humedad_suelo.magnitud_medicion }}</td>
                        <td class="text-center">{{ humedad_suelo.fecha_medicion|date:"d/m/y" }}</td>
                        <td class="text-center">{{ humedad_suelo.fecha_medicion|date:"h:i:s A" }}</td>
                        <td class="text-center">{{ humedad_suelo.is_activo }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Ultima actualización: {{fecha}}</div>
          </div>
        {% endblock tables %}

        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <script type="text/javascript">
      //$(document).on('ready',loadChart("humedadAireChart", data1, lb1));
console.log('antes de document.ready');
   
$('document').ready(function() {

  $(document).ready(function() {
      console.log('dentro de un segundo document.ready');
  });

  console.log('dentro de document.ready');
});

console.log('después de document.ready');
      $('document').onload(
        function(){
          var lb1 = []
          var data1 = []
          {% for humedad_relativa in humedades_relativas %}
            lb1.push('{{humedad_relativa.fecha_medicion|date:"d/m/y h:i:s A"}}');
            data1.push(parseFloat('{{ humedad_relativa.magnitud_medicion }}'));
          {% endfor %}
          alert("Se cargo el formulario");
          console.log("Se cargo el formulario");
          loadChart("humedadAireChart", data1, lb1);
      });
    </script>
{% endblock content %}
